<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-center">修改這筆支出</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form action="/expense/{{ _id }}?_method=PUT" method="POST" novalidate>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="mx-auto fa-solid fa-paperclip"></i></span>
                <input name="name" type="text" class="form-control" placeholder="Enter name of expense"
                  value="{{ name }}" maxlength="20" required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="mx-auto fa-solid fa-calendar-days"></i></span>
                <input id="date" name="date" type="date" class="form-control" value="{{ dateFormat }}" required>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text"><i class="mx-auto fa-solid fa-list"></i></span>
                <select name="categoryId" class="form-select" required>
                  <option value="" data-select="{{ categoryName }}">Open this select menu</option>
                  {{#each category}}
                  <option value="{{ this._id }}" {{category ../categoryId.name this.name}}>{{ this.name }}</option>
                  {{/each}}
                </select>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text"><i class="mx-auto fa-solid fa-dollar-sign"></i></span>
                <input name="amount" type="number" class="form-control" placeholder="Enter amount of expense"
                  value="{{ amount }}" maxlength="20" required>
              </div>
              <div class="justify-content-center d-flex mt-4">
                <button type="submit" class="btn btn-outline-secondary px-3 fs-5">送出</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
